html, body{
	font-family: arial, sans serif;
	margin: 0;
	text-align: center;
}

header{
	background-color: #47A3FF;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}

h2{
	color: yellow;
}

li{
	list-style: none;
margin: 5px 0;
padding: 5px;
max-width: 800px;

}

header img{
	border-radius: 174px;
	width: 300px;
	border: 24px solid #FFFF00;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #B2E6FF;
}

div{
	display: block;
	background-color: #B2E6FF;
}



img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightyellow;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	/*background-color: #E6E6E6;*/
		background-color: #5CB8E6
}

footer ul{
	text-align: center;

}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
/*<header>
			<img src="img/profile.jpg">
			<h1>Homer Simpson</h1>
		</header>*/
